.main-section{
    display: inline-block;
    width: 100%;
}
#js-documentation{
    float: left;
    width: 25%;
    height: 500px;

}

#js-documentation li,a{
    text-decoration: none;
    list-style: none;

}
#main-div{
    display: inline-block;
    width: 74.5%;
}
#main-doc{
    width: 100%;
    border: 1px solid black;

}
p{
    padding-left: 20px;
}
ul{
    padding-left: 70px;
}
h1{
    padding-left: 20px;
}

.code-div{
    background-color: lightgrey;
    margin: 0px auto;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
}